/* Nav */
.leaflet-container{
  width: 100vw;
  height: 100vh; 
  max-width: 1400px;
  min-width: 95%;
  margin-inline: auto;
  margin-right: 3rem;
  margin-left: -3rem;
}

.nav .nav-links{
    padding-inline: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(55, 55, 56);
    
}
.nav-links:hover{
    color: rgb(4, 92, 92);
 
}
