/* Nav */
.container{
   
}

.nav .nav-links{
    padding-inline: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(55, 55, 56);
    
}
.nav-links:hover{
    color: rgb(4, 92, 92);
 
}
